<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Test-flask</title>
    <link rel="icon" href="data:,">
</head>
<body>
    <h1><a href="/write">일기작성</a></h1>
    <h1><a href="/list">목록보기</a></h1>
    <div style="display: none;" id="message">{{message}}</div>
    <div>{{message}}</div>
</body>
</html>
<script>
    window.onload = function() {
        let msg = document.getElementById("message").innerHTML;
        console.log(msg);
        
        /*if(msg != undefined) {
            alert(msg);
        }*/
    }
</script>