<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>일기 작성</title>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="/static/common.css">
</head>
<body>
    <h1>Test - writeDiary</h1>
    <button onclick="history.back()">뒤로가기</button>
    <form action="/" method="post">
        제목 
        <input type="text" name="title"/> <br>
        내용 <br>
        <textarea type="text" name="content" cols="50" rows="20"></textarea> <br>
        <input type="submit" value="send"/>
    </form>
</body>
</html>